body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: #f9f9f9;
}

.welcome-content {
  width: 100%;
  max-width: 320px;
  padding: 2rem 1rem;
  text-align: start;
}

.welcome-content h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.welcome-content p {
  color: #666;
  margin-bottom: 1.5rem;
}

.create-account-btn,
.login-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
}

.create-account-btn {
  background-color: #7926f9;
  color: white;
}

.login-btn {
  background-color: #e9d8fd;
  color: #333;
  font-weight: 600;
}

/* createAccount */

.form-container {
  max-width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 2px;
  text-align: left;
  font-family: sans-serif;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 1.5rem 0;
  color: #1a1a1a;
}

.input-group {
  margin-bottom: 1.2rem;
}

.radio-group {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
  align-items: center;
  font-family: sans-serif;
}

.custom-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #1f1f1f;
  user-select: none;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-mark {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #999;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.custom-radio input:checked ~ .radio-mark {
  border-color: #7b2ff7;
}

.radio-mark::after {
  content: "";
  position: absolute;
  display: none;
  transform: translate(50%, 50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #7b2ff7;
}

.custom-radio input:checked ~ .radio-mark::after {
  display: block;
}

.submit-btn {
  width: 100%;
  background-color: #7926f9;
  color: white;
  padding: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.floating-input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.floating-input {
  width: calc(100% - 1.7rem);
  padding: 1.2rem 0.8rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.floating-input:focus {
  border-color: #7926f9;
}

.floating-label {
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  color: #aaa;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.2s ease all;
}

.floating-input:focus + .floating-label,
.filled {
  top: -0.6rem;
  background-color: white;
  padding: 0.2rem 0.5rem;
  left: 0.8rem;
  font-size: 0.75rem;
  color: #7926f9;
}

.required {
  color: #f92626;
  margin-left: 0.2rem;
  font-weight: bold;
}

/* home */

.home-container {
  max-width: 400px;
  min-height: 90vh;
  margin: 1rem auto;

  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.title {
  font-weight: 600;
  padding: 1rem;
  margin: 0;
  background-color: white;
  color: #333;
}

.account-section {
  padding: 1rem;
  border-bottom: 2px dashed rgb(193, 193, 193);
}

.profile-card {
  display: flex;
  margin-bottom: 0.7rem;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.profile-info {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.profile-name {
  font-weight: 600;
  margin: 0;
}

.profile-email {
  color: #555;
  margin: 0;
  margin-top: 0.3rem;
  font-size: 0.875rem;
}

.description {
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #444;
  line-height: 1.5;
}

.divider {
  margin-top: 22rem;
  border-bottom: 2px dashed rgb(193, 193, 193);
}

/* Login */
.login-container {
  max-width: 380px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  font-family: sans-serif;
}

.subtitle {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.login-btn {
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #7926f9;
  color: white;
  transition: 0.3s ease;
}

.login-btn:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}
